{% extends 'layout.html' %}
{% block content %}
<div class="mt-4">
    <a href="{{ url_for('add_user') }}" class="btn btn-primary">Agregar Proveedor</a>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Contacto</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>
                    <a href="{{ url_for('edit_user', id=product[0]) }}" class="btn btn-info">Editar</a>
                    <form action="{{ url_for('delete_user', id=product[0]) }}" method="post" style="display:inline-block;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
